body {
  font-family: 'JetBrains Mono', monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--ring-font-size);
  margin: 0;
  overflow-y: scroll;
}

.App {
  padding: calc(2 * var(--ring-unit));
  display: flex;
  flex-direction: column;
  background-color: var(--ring-content-background-color);
  color: var(--ring-text-color);
}

@media screen and (max-width: 1024px) {
  .plotly_editor {
    flex-direction: column;
  }

  .editor_controls {
    width: 100% !important;
  }
}

.fold__top {
  height: 34px !important;
}

.component {
  margin: var(--ring-unit);
}

.popup {
  padding: var(--ring-unit);
}

.panel-left {
  box-shadow: 5px 5px 5px lightgray;
  background: #efefef;
  border: 2px solid gray;
  border-radius: 0.5em;
}

.panel-right {
  box-shadow: -5px 5px 5px lightgray;
  background: #efefef;
  border: 2px solid gray;
  border-radius: 0.5em;
}

.header {
  text-align: center;
}

.footer {
  margin: auto;
  width: 70%;
  font-size: var(--ring-font-size-smaller);
  line-height: var(--ring-line-height-lowest);
}

a[aria-expanded=true] .bi-plus-circle-fill {
  display: none
}

a[aria-expanded=true] .bi-dash-circle-fill {
  display:inline
}

a[aria-expanded=false] .bi-dash-circle-fill {
  display: none
}

a[aria-expanded=false] .bi-plus-circle-fill {
  display: inline
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #cdcdcd;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7d7d7d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fe2857;
}

td {
  white-space: normal !important; 
  word-wrap: break-word;
  font-size: small;  
}

.horizontal-slider {
  display: inline-block;
  color: black;
  text-align: center;
  vertical-align: text-top;
  align-items:start;
  padding: 1em;
}

.slider-track {
  background-color: black;
  height: 0.25rem;
  border-radius: 1em 1em 1em 1em;
  /* border: 1px solid black; */
}

.slider-thumb {
  background-color: light;
  border: 2px solid gray;
  border-radius: 100%;
  width: 1.4rem;
  height: 1.4rem;
  font-size: small;
  bottom: 0.3em;
  cursor: grab
}

.slider-thumb:active {
  box-shadow: inset 5px 5px 10px 20px gainsboro;
  cursor: grabbing;
}

.slider-marks {
  background-color: black;
  border: 2px solid gainsboro;
  border-radius: 100%;
  height: 0.25rem;
  width: 0.25rem;
}

.color-legend-box {
  border: 2px solid darkslategray;
  border-radius: 5%;
}

.color-legend-box:hover {
  border: 4px solid gray;
  border-radius: 20%;
}

.color-legend-box:active {
  border: 4px solid gray;
  border-radius: 20%;
}